def availableCpus = Runtime.runtime.availableProcessors()

executor {
    name = 'local'
    cpus = availableCpus
}

process {
    container = 'docker://quay.io/aababc1/metafun:v0.1' 
//'/data1/leehg/program/apptainer/metafun_v0.1.sif'
    apptainer.enabled = true 
}
apptainer {
    enabled = true
    ociAutoPull = false
    cacheDir="${projectDir}/apptainer"
    pullTimeout = 12000000
    //apptainer.autoMounts = true
    // use below line
    runOptions = '--bind ${projectDir}/scripts:/scratch/tools/microbiome_analysis/scripts  --bind ${projectDir}/database/:/opt/database --bind ${projectDir}/database/humann3/metaphlan:/opt/conda/envs/humann3/lib/python3.10/site-packages/metaphlan/metaphlan_databases  -W /${USER}_$(uuidgen)'
    //runOptions = '--bind ${projectDir}/../scripts:/scratch/tools/microbiome_analysis/scripts  --bind /data2/leehg/OMD3/Generated_pipeline/scratch/tools/microbiome_analysis/database/:/opt/database --bind ${projectDir}/../database/humann3/metaphlan:/opt/conda/envs/humann3/lib/python3.10/site-packages/metaphlan/metaphlan_databases  -W /${USER}_$(uuidgen)'
}
// automatically change this 
